<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="w-50">
      <h2 class="mb-4 text-center">User Registration</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <div class="mb-3">
          <label for="username" class="form-label">User Name</label>
          <input id="username" formControlName="username" type="text" class="form-control" />
          <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="text-danger mt-1">
            <div *ngIf="registerForm.controls['username'].errors?.['required']">Username is a required field</div>
            <div *ngIf="registerForm.controls['username'].errors?.['minlength']">Minimum 6 characters are required</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" formControlName="email" type="email" class="form-control" />
          <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger mt-1">
            <div *ngIf="registerForm.controls['email'].errors?.['required']">Email is a required field</div>
            <div *ngIf="registerForm.controls['email'].errors?.['email']">Please enter a valid email</div>
          </div>
        </div>
        <!--hobby.value = [this.fb.control('', Validators.required)-->
        <div class="mb-3">
          <label class="form-label">Hobbies</label>
          <button class="btn btn-primary" type="button" (click)="addHobies()"> Add Hobbies</button>
          <div formArrayName="hobbies">
            <div *ngFor="let hobby of hobbies.controls; let i=index" class="input-group mb-2">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" formControlName="password" type="password" class="form-control" />
          <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger mt-1">
            <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is a required field</div>
            <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Minimum 8 characters required</div>
            <div *ngIf="registerForm.controls['password'].errors?.['maxlength']">Maximum 16 characters allowed</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input id="confirmPassword" formControlName="confirmPassword"
            (copy)="disableCopy($event)"
            (paste)="disableCopy($event)"
            (cut)="disableCopy($event)"  
            type="password" class="form-control" />
          <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger mt-1">
            Passwords do not match
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Register</button>
      </form>
    </div>
  </div>
  