<h1 class="text-center">Login!</h1>

<div *ngIf="!isLoginSuccess" class="alert alert-warning text-center">
  User name or password is not correct!
</div>

<!-- Centered container -->
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border p-4 rounded shadow" style="min-width: 300px;">
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" name="email" [(ngModel)]="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" />
    </div>
    <button (click)="handleLogin()" class="btn btn-success w-100">Login</button>
    <br /><br />
      <div class="text-center">
        <span>Not the current user? </span>
        <a [routerLink]="['/register']">Register here</a>
      </div>
  </div>
</div>
