<h2>Todo</h2>
<div class="container">
    <form #todoForm = "ngForm" (ngSubmit)="saveTodo(todoForm)">
        <fieldset class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="todoObject.name" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Descrption</label>
            <input type="text" class="form-control" #name="ngModel" name="descrption" [(ngModel)]="todoObject.description" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date" class="form-control" name="targetDate" [ngModel]="todoObject.targetDate |date: 'yyyy-MM-dd'" 
                 (ngModelChange)="todoObject.targetDate = $event"  required="required">
        </fieldset>
        <div>
            <button type="submit" class="btn btn-success">{{buttonName}}</button>
        </div>
    </form>
</div>